<div ng-controller="purchasecoupon as main">

				<div class="w3-container w3-black">
					<h3 class="center">Purchase Coupon</h3>
				</div>
				<br>
		<div style="margin-left: 2%">
				<table style="margin-left: 2%" border="1" ng-show="!main.getAllCouponsFailed.flag">
						<tr>
							<th>INDEX</th>
							<th>ID</th>
							<th>TITLE</th>
							<th>START DATE</th>
							<th>END DATE</th>
							<th>AMOUNT</th>
							<th>TYPE</th>
							<th>MASSAGE</th>
							<th>PRICE</th>
							<th>IMAGE</th>
						</tr>
						<tr  align="center" ng-repeat="coup in main.coupons | orderBy :'id' ">
							<td>{{$index + 1}}</td>
							<td>{{coup.id}}</td>
							<td>{{coup.title}}</td>
							<td>{{coup.startDate | date : 'MMM d, y'}}</td>
							<td>{{coup.endDate | date : 'MMM d, y'}}</td>
							<td>{{coup.amount}}</td>
							<td>{{coup.type}}</td>
							<td>{{coup.message}}</td>
							<td>{{coup.price}}</td>
                            <td><img ng-src="{{coup.image}}" alt="Coupon img" height="120" width="120"/></td>
							 <td><button class="button" ng-click="main.buyCoupon(coup)">BUY</button></td>
				
							</td>
						</tr>
					</table>
					</div>
					
								    <p style="background-color:OrangeRed; font-weight:bold " ng-show="main.getAllCouponsFailed.flag ">
        {{main.messageGetAllCoupons.text}} </p>
        
        	<p style="background-color:Chartreuse" ng-show="main.purchaseCouponSucceed.flag">
		{{main.messagePurchaseCoupon.text}}</p>
		
	<p style="background-color:OrangeRed;  font-weight:bold" ng-show="main.purchaseCouponFailed.flag">
		{{main.messagePurchaseCoupon.text}}</p>
        
				</main>
			</div>
		
	